#navbar{
    width: 100%;
    height: 150px;
}
#path{
    margin-top: 10px;
    width: 90%;
    height: 25px;
}
#first-section{
    margin-top: 10px;
    width: 80%;
    margin: auto;
    display: flex;
    gap: 50px;
}
#main-left{
    display: flex;
    width: 45%;
}

#main-left .small-left>div img{
    width: 95%;
    margin: auto;
    margin-top: 5px;
}
#main-left>#main-img>img{
    margin: auto;
    width: 95%;
    margin-top: 0px;
    margin-left: 7px;

}
#main-left>#main-img{
    margin-left: 10px;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#main-right{
    width: 45%;
}
#main-right>.color-div{
    border-radius: 50%;
    width: 10%;
    height: 40px;
    border: 1px solid purple;
}
#main-left>.small-left{
    width: 10%;
}
#main-left>.small-left>div>img:hover{
    width: 100%;
    
}
#size-divs{
    width:90%;
    gap: 10px;
    display: flex;
}
#size-divs>div{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    width: 10%;
    height: 30px;
    border: 1px solid rgb(168, 168, 168);
}
#size-divs>div:hover{
background-color: rgb(29, 28, 28);
color: white;
cursor: pointer;
}
#btn-notify{
    margin-top: 10px;
    width: 95%;
    height: 34px;
    border: none;
    color: white;
    background-color: #ee4a1b;
}
#btn-notify:hover{
    width: 96%;
    height: 36px;
    background-color: #ee8b6f;
    cursor: pointer;
}
#btn-wish-list{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 95%;
    height: 34px;
    border: none;
    color: black;
}
#btn-wish-list:hover{
    width: 96%;
    height: 36px;
    color: #646262;
    cursor: pointer;
}
.last-div{
    width: 80%;
    display: flex;
    justify-content: right;
}
.h2{
    width: 80%;
    padding-left: 10%;
    margin-top: 50px;
}
#second-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.swiper{
    width: 80%;
    
}
.swiper-wrapper{
    /* display: flex; */
    width: 70%;
}
.swiper-slide{
    margin: auto;
    width: 90%;
    display: flex;
    gap: 15px;
    text-align: center;
    
}

.swiper-slide img{
    width: 100%;
    height: 200px;

    
}
.swiper-button-prev{
    background-color: rgb(241, 68, 68);
    color: white;
    width: 4%;
    font-size: 20px;
    border-radius: 30%;
}
.swiper-button-next{
    
    background-color: rgb(241, 68, 68);
    color: white;
    width: 4%;
    font-size: 20px;
    border-radius: 30%;
}

#image-container{
    width: 100%;
    display: flex;
    gap: 15px;
}
#image-container img{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

    height: 200px;
    width: 100%;
}
#image-container img{
    background-color: gray;
}
#image-container img:hover{
    width: 100%;
    height: 209px;
} 

#third-section{
    width: 80%;
    margin: auto;
    margin-top: 60px;
}

#about-designer-section{
    margin-top: 70px;
    width: 66%;
    margin: auto;
    text-align: center;
}
#review-section{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 10px;
    
}
#review-section>button{
    text-align: center;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color: #ee4a1b;
    color: white;
    border: none;
    
}
#review-section>button:hover{
    text-align: center;
    width: 220px;
    height: 42px;
    background-color: #f57a58;
    color: white;
    border: none;
    cursor: pointer;
    
}
footer{
    width: 80%;
    margin-top: 70px;
    margin: auto;
    height: 300px;
    
}