#navbar{
    width: 100%;
    height: 150px;
    border: 1px solid black;
}
#path{
    margin-top: 10px;
    width: 90%;
    height: 25px;
}
#first-section{
    margin-top: 10px;
    width: 80%;
    margin: auto;
    display: flex;
    gap: 50px;
}
#main-left{
    display: flex;
    width: 45%;
}

#main-left .small-left>div img{
    width: 95%;
    margin: auto;
    margin-top: 5px;
}
#main-left>#main-img>img{
    margin: auto;
    width: 95%;
    margin-top: 0px;
    margin-left: 7px;

}
#main-left>#main-img{
    width: 100%;
}
#main-right{
    width: 45%;
}
#main-right>.color-div{
    border-radius: 50%;
    width: 10%;
    height: 40px;
    border: 1px solid purple;
}
#main-left>.small-left{
    width: 10%;
}
#main-left>.small-left>div>img:hover{
    width: 100%;
    
}
#size-divs{
    width:90%;
    gap: 10px;
    display: flex;
}
#size-divs>div{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    width: 10%;
    height: 30px;
    border: 1px solid rgb(168, 168, 168);
}
#size-divs>div:hover{
background-color: rgb(29, 28, 28);
color: white;
cursor: pointer;
}
#btn-notify{
    margin-top: 10px;
    width: 95%;
    height: 34px;
    border: none;
    color: white;
    background-color: #ee4a1b;
}
#btn-notify:hover{
    width: 96%;
    height: 36px;
    background-color: #ee8b6f;
    cursor: pointer;
}
#btn-wish-list{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 95%;
    height: 34px;
    border: none;
    color: black;
}
#btn-wish-list:hover{
    width: 96%;
    height: 36px;
    color: #646262;
    cursor: pointer;
}
#second-section{
    /* display: flex; */
    width: 80%;
    margin: auto;
    margin-top: 60px;
}
#image-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    gap: 15px;
    border: 1px solid black;
    /* overflow:scroll; */
}
#image-container img{
    height: 200px;
}
#image-container img{
    background-color: gray;
}
#image-container img:hover{
    width: 100%;
    height: 209px;

}

#third-section{
    width: 80%;
    margin: auto;
    margin-top: 60px;
}
#image-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    gap: 15px;
    border: 1px solid black;
}

#about-designer-section{
    margin-top: 70px;
    width: 66%;
    margin: auto;
    text-align: center;
}
#review-section{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 10px;
    
}
#review-section>button{
    text-align: center;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color: #ee4a1b;
    color: white;
    border: none;
    
}
#review-section>button:hover{
    text-align: center;
    width: 220px;
    height: 42px;
    background-color: #f57a58;
    color: white;
    border: none;
    cursor: pointer;
    
}
footer{
    width: 80%;
    margin-top: 70px;
    margin: auto;
    border: 1px solid black;
    height: 300px;
    
}