#nav1{
    height:30px;
    width:100%;
    background-color: #faf9f9;
    font-family: 'DM Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;

display:flex;
justify-content: space-evenly;

}
#sec1{
    display:flex;
    margin-top: -5px;
   
    
   
}
#sec1 h3{
    font-size:14px;
    margin-left: 10px;
    color:
    #5c5c5c
}
#sec2{
    margin-top: -5px;
}
#sec2 p{
  font-size: small;
  color:
black;
  

}
#sec3{
    display:flex;
    margin-top: -10px;

   
  
}
span{
    margin-top: 22px;
    margin-left: 10px;
}
#sec3 h4{
    font-size:14px;
    color:
    #5c5c5c
 

}


a{
    text-decoration: none;
    color: 
    #5c5c5c;
}
#nav2{
    height: 30px;
    width:200px;
    margin: auto;
}
#nav2 img{
    height:50px;
    width: 175px;
   margin-top: 20px;

}


.dropmenu{
    position: relative;
 

}
.dropmenu-content{
    display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
 margin-top: 55px;
 box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  z-index: 1;
}
.dropmenu-content a{

 color:#5c5c5c ;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
  font-size: small;
  font-weight: bold;
  font-family: 'DM Sans', sans-serif;


}
.dropmenu-content a:hover{
    color:black;
}
#sec3:hover .dropmenu-content {display: block;}
#wish img{
    height: 20px;
    width:20px;
  margin-top: 20px;
  margin-left: 10px;
  cursor: pointer;
  
  }
  #wish img:hover{
   
    width:22px;
    height: 22px;
  }
  #wish{
      display: flex;
      margin-left:-130px;
      margin-top: -10px;
      
  }
.dropmenu{
   margin-left: 200px;
}
#sec1 #i{
    margin-top: 4px;
}
#nav3{
    display: flex;
   height:40px;
   width: 70%;
 padding: 20px 20px 20px 20px;
  margin:auto;
  margin-top: 20px;
   justify-content:space-between;

 
}
#nav3 h4{
    font-size: small;
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
    
}
#nav3 i{
    margin-top: 20px;
}
#sec3 i{
    margin-left: 5px;
}
#sec1 i{
    margin-left: 10px;
}
#nav3 a{
    display: inline-block;
    position: relative;
    text-align: center;
    
   
    overflow: hidden;
    top: 5px;
   

}
#nav3 a:after {
    content: "";
    position: absolute;
    background-color: #c00;
    height: 2px;
    width: 0%;
    transform: translateX(-50%);
    left: 50%;
    bottom: 0;
    transition: .35s ease;
}
#nav3 a:hover:after {
    width: 100%;
}
button{
    border:none;
    background-color:white;
    margin-top: -25px;
}


